<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Modifer un Projet</h2>
    <form [formGroup]="editChantierForm" (ngSubmit)="onSaveChantier()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" id="title"
               class="form-control" formControlName="title" value="{{ (chantier | async)?.title }}">
      </div>
      <div class="form-group">
        <label for="author">Auteur</label>
        <input type="text" id="author"
               class="form-control" formControlName="author" value="{{ (chantier | async)?.author }}">
      </div>
      <div class="form-group">
        <label for="synopsis">Synopsis</label>
        <textarea id="synopsis"
                class="form-control" formControlName="synopsis" value="{{ (chantier | async)?.synopsis }}">
        </textarea>
      </div>
      <form-upload></form-upload>
      <list-upload></list-upload>
      <br/>
      <br/>  
      <button class="btn btn-success" type="submit">Enregistrer
      </button>
    </form>
  </div>
</div>
